.cache-main
.classpath
.project
.settings
bin
catalog-v001.xml
project/project
project/target
target
/SciGraph
/omnicorp-scigraph
/.idea
ontologies-merged.ttl

# Ignore input and output directories.
/pubmed-annual-baseline
/output
/results

# Ignore robot.
/robot
/robot.jar

# Ignore log files.
/pubmed-terms.log

# Ignore Bloop and Metals files used by Atom in providing a Scala IDE.
.bloop
.metals
